<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Your login form here -->
<form method="post" th:action="@{/auth/login}" th:object="${loginDTO}" class="container">
    <h2>Login</h2>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" placeholder="Username" required id="username" th:field="*{username}">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Password" required id="password" th:field="*{password}">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<div class="container">
    <a href="/oauth2/authorization/google" class="btn btn-outline-primary">Login with Google</a>
</div>

<div th:if="${error}" class="alert alert-danger container">
    <p th:text="${error}" style="color:red"></p>
</div>
</body>
</html>