<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student Change Class</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/student/homepage">Student Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/student/homepage">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/student/classinformation">Class information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/student/changeclass">Change Class</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/student/studenttranscript">Student transcript</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown"> <!-- Added dropdown class here -->
        <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Student Account
        </a>
        <div class="dropdown-menu" aria-labelledby="accountDropdown">
          <a class="dropdown-item" href="/student/accountsetting">Setting</a>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


<div class="container mt-5" th:if="${error == null}">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form th:action="@{/student/changeclass}" th:method="post" class="border p-4 bg-white">
        <div class="form-group">
          <label for="oldclass" class="form-check-label">Old Class</label>
          <input type="text" id="oldclass" name="oldclass" class="form-control" th:value="${oldclass.getClassname()}"
                 th:readonly="readonly"/>
        </div>
        <div class="form-group">
          <label>New Class</label>
          <div class="form-check" th:each="class : ${classes}">
            <input type="radio" th:id="${class.getId()}" name="classname" th:value="${class.getId()}" class="form-check-input"/>
            <label th:for="${class.getId()}" class="form-check-label" th:text="${class.getClassorganization().getAClass().getClassname()}"></label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Send Request</button>
      </form>
    </div>
  </div>
</div>
<div class="container mt-5" th:if="${error != null}" th:text="${error}">
</div>
<a class="nav-link" href="/student/classchangehistory">Change Class History</a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>