<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/student/homepage">Student Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/student/homepage">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/student/classinformation">Class information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/student/changeclass">Change Class</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/student/studenttranscript">Student transcript</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown"> <!-- Added dropdown class here -->
                <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Student Account
                </a>
                <div class="dropdown-menu" aria-labelledby="accountDropdown">
                    <a class="dropdown-item" href="/student/accountsetting">Setting</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form th:action="@{/student/accountsetting}" th:method="post" enctype="multipart/form-data" class="border p-4 bg-white">
                <div class="form-group">
                    <label for="rollnumber">RollNumber</label>
                    <input type="text" id="rollnumber" name="rollnumber" class="form-control" th:readonly="readonly" th:value="${student.getRollNumber()}" />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" class="form-control" th:readonly="readonly" th:value="${student.getEmail()}" />
                </div>
                <div class="form-group">
                    <label for="picture">Picture</label>
                    <img id="currentProfilePicture" th:src="${student.getPicture()}" alt="Current Picture" width="100" height="100" />
                    <input type="file" id="picture" name="picture" class="form-control-file" accept="image/*" />
                </div>
                <div class="form-group">
                    <label for="fullname">Full Name</label>
                    <input type="text" id="fullname" name="fullname" class="form-control" th:required="required" th:value="${student.getFullname()}" />
                </div>
                <div class="form-group">
                    <label for="oldpassword">Old Password</label>
                    <input type="password" id="oldpassword" name="oldpassword" class="form-control" th:required="required">
                </div>
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" id="password" name="password" class="form-control" th:required="required" th:value="${password}">
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <select class="form-control" name="gender">
                        <th:block th:each="gender : ${genders}" >
                            <option th:value="${gender.getId()}" th:text="${gender.getGender()}" th:selected="${gender.getId() == student.getGender().getId()}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label>Ethnic</label>
                    <select class="form-control" name="ethnic">
                        <th:block th:each="ethnic : ${ethnics}" >
                            <option th:value="${ethnic.getId()}" th:text="${ethnic.getEthnic()}" th:selected="${ethnic.getId() == student.getEthnic().getId()}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label>Religion</label>
                    <select class="form-control" name="religion">
                        <th:block th:each="religion : ${religions}" >
                            <option th:value="${religion.getId()}" th:text="${religion.getReligion()}" th:selected="${religion.getId() == student.getReligions().getId()}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label for="parrentname">Parrent Name</label>
                    <input type="text" id="parrentname" name="parrentname" class="form-control" th:required="required" th:value="${student.getParrentName()}">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" id="address" name="address" class="form-control" th:required="required" th:value="${student.getAddress()}">
                </div>
                <div class="form-group">
                    <label for="hometown">Home Town</label>
                    <input type="text" id="hometown" name="hometown" class="form-control" th:required="required" th:value="${student.getHometown()}">
                </div>
                <div class="form-group">
                    <label for="hobbies">Hobbies</label>
                    <input type="text" id="hobbies" name="hobbies" class="form-control" th:required="false" th:value="${student.getHobbies()}">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
            <p class="mt-3" th:if="${error != null}" th:text="${error}" style="color:red; font-weight: bold" ></p>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>