<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Super Admin User Management</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/superadmin/homepage">Super Admin Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/superadmin/homepage">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/superadmin/usermanagement">User Management</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/superadmin/subjectmanagement">Subject Management</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/superadmin/semestertmanagement">Semester Management</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/superadmin/Organizationmanagement">Organization Management</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown"> <!-- Added dropdown class here -->
        <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Super Admin Account
        </a>
        <div class="dropdown-menu" aria-labelledby="accountDropdown">
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
<!--  Filter Bar-->
  <div class="filter-bar">
    <form method="GET" action="/superadmin/usermanagement">
      <div class="form-row">
        <div class="form-group col-md-3">
          <input type="text" class="form-control" name="filterUsername" placeholder="Username" th:value="${filterUsername}">
        </div>
        <div class="form-group col-md-3">
          <input type="text" class="form-control" name="filterEmail" placeholder="Email" th:value="${filterEmail}">
        </div>
        <div class="form-group col-md-3">
          <input type="text" class="form-control" name="filterFullName" placeholder="FullName" th:value="${filterFullname}">
        </div>
        <div class="form-group col-md-3">
          <select class="form-control" name="filterRole">
            <option value="0">Filter For Role</option>
            <th:block th:each="role : ${roles}" >
              <option th:value="${role.getId()}" th:text="${role.getRolename()}" th:selected="${filterRole == role.getId()}"></option>
            </th:block>
          </select>
        </div>
        <div class="form-group col-md-3">
          <select class="form-control" name="filterGender">
            <option value="0">Filter For Gender</option>
            <th:block th:each="gender : ${genders}" >
              <option th:value="${gender.getId()}" th:text="${gender.getGender()}" th:selected="${filterGender == gender.getId()}" ></option>
            </th:block>
          </select>
        </div>
        <div class="form-group col-md-3">
          <select class="form-control" name="filterEthnic">
            <option value="0">Filter For Ethnic</option>
            <th:block th:each="ethnic : ${ethnics}" >
              <option th:value="${ethnic.getId()}" th:text="${ethnic.getEthnic()}" th:selected="${filterEthnic == ethnic.getId()}" ></option>
            </th:block>
          </select>
        </div>
        <div class="form-group col-md-3">
          <select class="form-control" name="filterReligion">
            <option value="0">Filter For Religion</option>
            <th:block th:each="religion : ${religions}" >
              <option th:value="${religion.getId()}" th:text="${religion.getReligion()}" th:selected="${filterReligion == religion.getId()}"></option>
            </th:block>
          </select>
        </div>
        <div class="form-group col-md-3">
          <select class="form-control" name="filterOrganization">
            <option value="0">Filter For Organization</option>
            <th:block th:each="organization : ${organizations}" >
              <option th:value="${organization.getId()}" th:text="${organization.getSchoolname()}" th:selected="${filterOrganization == organization.getId()}" ></option>
            </th:block>
          </select>
        </div>
        <div class="form-group col-md-3">
          <button type="submit" class="btn btn-primary">Filter</button>
        </div>
      </div>
    </form>
  </div>

<!--  Table-->
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Roll Number</th>
      <th>Email</th>
      <th>Role</th>
      <th>Full Name</th>
      <th>Username</th>
      <th>Status</th>
      <th>Parrent Name</th>
      <th>Gender</th>
      <th>Picture</th>
      <th>Ethnic</th>
      <th>Religion</th>
      <th>Address</th>
      <th>HomeTown</th>
      <th>Hobbies</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user, number : ${users}">
      <td th:text="${number.index+1}"></td>
      <td th:text="${user.getRollNumber()}"></td>
      <td th:text="${user.getEmail()}"></td>
      <td>
    <span th:each="role, roleIndex : ${user.getRoles()}">
        <span th:text="${role.getRolename()}"></span>
        <span th:unless="${roleIndex} == ${#lists.size(user.getRoles()) - 1}">,</span>
    </span>
      </td>



      <td th:text="${user.getFullname()}"></td>
      <td th:text="${user.getUsername()}"></td>
      <td th:text="${user.getStatus()}"></td>
      <td th:text="${user.getParrentName()}"></td>
      <td th:text="${user.getGender().getGender()}"></td>
      <td><img th:src="${user.getPicture()}" alt="Picture" width="100" height="100"> </td>
      <td th:text="${user.getEthnic().getEthnic()}"></td>
      <td th:text="${user.getReligions().getReligion()}"></td>
      <td th:text="${user.getAddress()}"></td>
      <td th:text="${user.getHometown()}"></td>
      <td th:text="${user.getHobbies()}"></td>
      <td><a th:href="@{'/superadmin/usermanagement/update/'+ ${user.getRollNumber()}}" th:text="Update"  class="btn btn-success"></a></td>
      <td>
        <button th:attr="data-rollnumber=${user.getRollNumber()}" class="btn btn-danger" onclick="confirmDelete(event)" th:if="${user.getStatus().equalsIgnoreCase('active')}">Deactive</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<a href="/schooladmin/usermanagement/adduser" class="btn btn-primary">Create More User</a>
<p class="mt-3" th:if="${error != null}" th:text="${error}" style="color:red; font-weight: bold" ></p>
<nav aria-label="Page navigation example">
  <div th:fragment="pagination">
    <ul class="pagination text-center">
      <li th:if="${users.hasPrevious()}" class="page-item">
        <a th:attr="href=@{${'?page=' + (page - 1)}}"
           class="page-link">Previous</a>
      </li>
      <ul>
        <li th:each="page : ${#numbers.sequence(1, users.totalPages)}"
            th:with="page=${page - 1}"
        ><a th:href="@{'?page=' + ${page}}" class="page-link" th:text="${page+1}"></a></li>
      </ul>
      <li th:if="${users.hasNext()}" class="page-item">
        <a th:href="@{'?page=' + ${page+1}}" class="page-link">Next</a>
      </li>
    </ul>
  </div>
</nav>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  function confirmDelete(event) {
    var userRollNumber = event.target.getAttribute('data-rollnumber');
    if (confirm("Are you sure you want to delete this users?")) {
      // Send an AJAX request to delete the user
      $.ajax({
        type: "GET",
        url: "/superadmin/usermanagement/deleteuser/" + userRollNumber, // Adjust the URL
        success: function (data) {
          // Handle the success response here
          alert("User with RollNumber " + userRollNumber + " deleted.");
          setTimeout(function() {
            window.location.reload();
          }, 1000);
        },
        error: function (error) {
          // Handle the error response here
          alert("Error deleting user: " + error);
        }
      });
    }
  }
</script>

</body>
</html>