<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Super Admin Update User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/superadmin/homepage">Super Admin Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/superadmin/homepage">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/superadmin/usermanagement">User Management</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/superadmin/subjectmanagement">Subject Management</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/superadmin/semestertmanagement">Semester Management</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/superadmin/Organizationmanagement">Organization Management</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown"> <!-- Added dropdown class here -->
                <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Super Admin Account
                </a>
                <div class="dropdown-menu" aria-labelledby="accountDropdown">
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form th:action="@{/superadmin/usermanagement/update}" th:method="post" enctype="multipart/form-data"
                  class="border p-4 bg-white">
                <div class="form-group">
                    <label for="rollnumber">RollNumber</label>
                    <input type="text" id="rollnumber" name="rollnumber" class="form-control" th:readonly="readonly"
                           th:value="${user.getRollNumber()}"/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" class="form-control" th:value="${user.getEmail()}"/>
                </div>
                <div class="form-group">
                    <label for="picture">Picture</label>
                    <img id="currentProfilePicture" th:src="${user.getPicture()}" alt="Current Picture" width="100"
                         height="100"/>
                    <input type="file" id="picture" name="picture" class="form-control-file" accept="image/*"/>
                </div>
                <div class="form-group">
                    <label for="fullname">Full Name</label>
                    <input type="text" id="fullname" name="fullname" class="form-control" th:required="required"
                           th:value="${user.getFullname()}"/>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <input type="text" id="status" name="status" class="form-control" th:required="required"
                           th:value="${user.getStatus()}">
                </div>
                <div class="form-group">
                    <label for="citySelect">City</label>
                    <select id="citySelect" class="form-control">
                        <th:block th:each="city : ${cities}">
                            <option th:value="${city.getId()}" th:text="${city.getCityname()}" th:selected="${city.getId() == user.getSchoolOrganization().getWardorganization().getWard().getDistrict().getCity().getId()}"></option>
                        </th:block>
                    </select>

                    <label for="districtSelect">District</label>
                    <select id="districtSelect" class="form-control">
                        <th:block th:each="district : ${districts}">
                            <option th:value="${district.getId()}" th:text="${district.getDistricname()}" th:selected="${district.getId() == user.getSchoolOrganization().getWardorganization().getWard().getDistrict().getId()}"></option>
                        </th:block>
                    </select>

                    <label for="wardSelect">Ward</label>
                    <select id="wardSelect" class="form-control">
                        <th:block th:each="ward : ${wards}">
                            <option th:value="${ward.getId()}" th:text="${ward.getWardname()}" th:selected="${ward.getId() == user.getSchoolOrganization().getWardorganization().getWard().getId()}"></option>
                        </th:block>
                    </select>

                    <label for="organizationSelect">Organization</label>
                    <select id="organizationSelect" class="form-control">
                        <th:block th:each="organization : ${organizations}">
                            <option th:value="${organization.getId()}" th:text="${organization.getSchoolname()}" th:selected="${organization.getId() == user.getSchoolOrganization().getId()}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label>Roles</label>
                    <div class="row">
                        <div class="col-md-2">
                            <input type="checkbox" id="1" name="roles" class="form-control" value="1"
                                   th:checked="${isttudent}">
                        </div>
                        <div class="col-md-2">
                            <label th:for="1">student</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <input type="checkbox" id="2" name="roles" class="form-control" value="2"
                                   th:checked="${isteacher}">
                        </div>
                        <div class="col-md-2">
                            <label th:for="2">teacher</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <input type="checkbox" id="3" name="roles" class="form-control" value="2"
                                   th:checked="${isschooladmin}" disabled="disabled">
                        </div>
                        <div class="col-md-2">
                            <label th:for="3">school admin</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" th:if="${isttudent}">
                    <label>Student Class</label>
                    <select class="form-control" name="studentclass">
                        <th:block th:each="class : ${studentclass}">
                            <option th:value="${class.getId()}" th:text="${class.getClassname()}"
                                    th:selected="${user.getStudentclass() != null && class.getId() == user.getStudentclass().getId()}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group" th:if="${isteacher}">
                    <label>Teacher Class</label>
                    <select class="form-control" name="teacherclass">
                        <th:block th:each="class : ${teacherclass}">
                            <option th:value="${class.getId()}" th:text="${class.getClassname()}"
                                    th:selected="${user.getTeacherclass() != null && class.getId() == user.getTeacherclass().getId()}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" id="password" name="password" class="form-control" th:required="required"
                           th:value="${password}">
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <select class="form-control" name="gender">
                        <th:block th:each="gender : ${genders}">
                            <option th:value="${gender.getId()}" th:text="${gender.getGender()}"
                                    th:selected="${gender.getId() == user.getGender().getId()}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label>Ethnic</label>
                    <select class="form-control" name="ethnic">
                        <th:block th:each="ethnic : ${ethnics}">
                            <option th:value="${ethnic.getId()}" th:text="${ethnic.getEthnic()}"
                                    th:selected="${ethnic.getId() == user.getEthnic().getId()}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label>Religion</label>
                    <select class="form-control" name="religion">
                        <th:block th:each="religion : ${religions}">
                            <option th:value="${religion.getId()}" th:text="${religion.getReligion()}"
                                    th:selected="${religion.getId() == user.getReligions().getId()}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label for="parrentname">Parrent Name</label>
                    <input type="text" id="parrentname" name="parrentname" class="form-control" th:required="required"
                           th:value="${user.getParrentName()}">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" id="address" name="address" class="form-control" th:required="required"
                           th:value="${user.getAddress()}">
                </div>
                <div class="form-group">
                    <label for="hometown">Home Town</label>
                    <input type="text" id="hometown" name="hometown" class="form-control" th:required="required"
                           th:value="${user.getHometown()}">
                </div>
                <div class="form-group">
                    <label for="hobbies">Hobbies</label>
                    <input type="text" id="hobbies" name="hobbies" class="form-control" th:required="false"
                           th:value="${user.getHobbies()}">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
            <p class="mt-3" th:if="${error != null}" th:text="${error}" style="color:red; font-weight: bold"></p>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $("#citySelect").click(function () {
            var selectedCity = $(this).val();

            // Send an AJAX request to get districts for the selected city
            $.ajax({
                url: "/location/getDistricts",  // Replace with the actual endpoint to fetch districts
                method: "GET",
                data: { city: selectedCity },
                success: function (data) {
                    var districtSelect = $("#districtSelect");
                    districtSelect.empty(); // Clear existing options
                    var wardSelect = $("#wardSelect");
                    wardSelect.empty(); // Clear existing options
                    var organizationSelect = $("#organizationSelect");
                    organizationSelect.empty(); // Clear existing options

                    // Append the retrieved district options
                    data.forEach(function (district) {
                        districtSelect.append("<option value='" + district.id + "'>" + district.districname + "</option>");
                    });
                },
                error: function (data) {
                    window.location.reload();
                }
            });
        });

        $("#districtSelect").click(function () {
            var selectedDistrict = $(this).val();

            // Send an AJAX request to get wards for the selected district
            $.ajax({
                url: "/location/getWards",  // Replace with the actual endpoint to fetch wards
                method: "GET",
                data: { district: selectedDistrict },
                success: function (data) {
                    var wardSelect = $("#wardSelect");
                    wardSelect.empty(); // Clear existing options
                    var organizationSelect = $("#organizationSelect");
                    organizationSelect.empty(); // Clear existing options

                    // Append the retrieved ward options
                    data.forEach(function (ward) {
                        wardSelect.append("<option value='" + ward.id + "'>" + ward.wardname + "</option>");
                    });
                },
                error: function (data) {
                    window.location.reload();
                }
            });
        });
        $("#wardSelect").click(function () {
            var selectedWard = $(this).val();

            // Send an AJAX request to get wards for the selected district
            $.ajax({
                url: "/location/getOrganizations",  // Replace with the actual endpoint to fetch wards
                method: "GET",
                data: { ward: selectedWard },
                success: function (data) {
                    var organizationSelect = $("#organizationSelect");
                    organizationSelect.empty(); // Clear existing options

                    // Append the retrieved ward options
                    data.forEach(function (orgarnizaion) {
                        organizationSelect.append("<option value='" + orgarnizaion.id + "'>" + orgarnizaion.schoolname + "</option>");
                    });
                },
                error: function (data) {
                    window.location.reload();
                }
            });
        });
    });
</script>
</body>
</html>