<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Super Admin Update Subject</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Define a CSS class for the shadow effect */
    .shadow-div {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Customize the shadow as needed */
      padding: 15px; /* Add padding to create space for the shadow */
    }
  </style>
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/superadmin/homepage">Super Admin Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/superadmin/homepage">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/superadmin/usermanagement">User Management</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/superadmin/subjectmanagement">Subject Management</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/superadmin/semestertmanagement">Semester Management</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/superadmin/Organizationmanagement">Organization Management</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown"> <!-- Added dropdown class here -->
        <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Super Admin Account
        </a>
        <div class="dropdown-menu" aria-labelledby="accountDropdown">
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form th:action="@{/superadmin/subjectmanagement/update}" th:method="post"
            class="border p-4 bg-white">
        <div class="form-group shadow-div">
          <label for="subjectcode">Subject Code</label>
          <input type="text" id="subjectcode" name="subjectcode" class="form-control" th:readonly="readonly"
                 th:value="${subject.getSubjectcode()}"/>
        </div>
        <div class="form-group shadow-div">
          <label for="subjectname">Subject Name</label>
          <input type="text" id="subjectname" name="subjectname" class="form-control" th:required="required"
                 th:value="${subject.getSubjectname()}"/>
        </div>
        <div class="form-group shadow-div">
          <label for="status">Status</label>
          <input type="text" id="status" name="status" class="form-control" th:required="required"
                 th:value="${subject.getStatus()}">
        </div>
        <div class="form-group shadow-div">
          <input type="checkbox" id="addMoreOrganization" />
          <label for="addMoreOrganization">Add More Organization</label>
          <br>
          <div id="organizationSelectContainer">
            <label> Add More Organization Can Use</label>
            <br>
            <label for="citySelect">City</label>
            <select id="citySelect" class="form-control">
              <th:block th:each="city : ${cities}">
                <option th:value="${city.getId()}" th:text="${city.getCityname()}" ></option>
              </th:block>
            </select>

            <label for="districtSelect">District</label>
            <select id="districtSelect" class="form-control">
              <th:block th:each="district : ${districts}">
                <option th:value="${district.getId()}" th:text="${district.getDistricname()}"></option>
              </th:block>
            </select>

            <label for="wardSelect">Ward</label>
            <select id="wardSelect" class="form-control">
              <th:block th:each="ward : ${wards}">
                <option th:value="${ward.getId()}" th:text="${ward.getWardname()}"></option>
              </th:block>
            </select>

            <label for="organizationSelect">Organization</label>
            <select id="organizationSelect" class="form-control" name="organization">
              <th:block th:each="organization : ${organizations}">
                <option th:value="${organization.getId()}" th:text="${organization.getSchoolname()}"></option>
              </th:block>
            </select>
            <p style="color: red; font-weight: bold" > If you choose organization, this subject can be use for that organization!</p>
          </div>
        </div>
        <div class="shadow-div form-group">
          <label>Organization In Use</label>
            <div class="row" th:each="organization : ${subject.getOrganizations()}">
              <div class="col-md-4">
                <input type="checkbox" th:id="${organization.getId()}" name="organizations" class="form-control" th:value="${organization.getId()}" th:checked="true">
              </div>
              <div class="col-md-4">
                <label th:for="${organization.getId()}" th:text="${organization.getSchoolname()}"></label>
              </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
      </form>
      <p class="mt-3" th:if="${error != null}" th:text="${error}" style="color:red; font-weight: bold"></p>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
    $("#citySelect").click(function () {
      var selectedCity = $(this).val();

      // Send an AJAX request to get districts for the selected city
      $.ajax({
        url: "/location/getDistricts",  // Replace with the actual endpoint to fetch districts
        method: "GET",
        data: { city: selectedCity },
        success: function (data) {
          var districtSelect = $("#districtSelect");
          districtSelect.empty(); // Clear existing options
          var wardSelect = $("#wardSelect");
          wardSelect.empty(); // Clear existing options
          var organizationSelect = $("#organizationSelect");
          organizationSelect.empty(); // Clear existing options

          // Append the retrieved district options
          data.forEach(function (district) {
            districtSelect.append("<option value='" + district.id + "'>" + district.districname + "</option>");
          });
        },
        error: function (data) {
          console.log(data.responseText);
        }
      });
    });

    $("#districtSelect").click(function () {
      var selectedDistrict = $(this).val();

      // Send an AJAX request to get wards for the selected district
      $.ajax({
        url: "/location/getWards",  // Replace with the actual endpoint to fetch wards
        method: "GET",
        data: { district: selectedDistrict },
        success: function (data) {
          var wardSelect = $("#wardSelect");
          wardSelect.empty(); // Clear existing options
          var organizationSelect = $("#organizationSelect");
          organizationSelect.empty(); // Clear existing options

          // Append the retrieved ward options
          data.forEach(function (ward) {
            wardSelect.append("<option value='" + ward.id + "'>" + ward.wardname + "</option>");
          });
        },
        error: function (data) {
          console.log(data.responseText);
        }
      });
    });
    $("#wardSelect").click(function () {
      var selectedWard = $(this).val();

      // Send an AJAX request to get wards for the selected district
      $.ajax({
        url: "/location/getOrganizations",  // Replace with the actual endpoint to fetch wards
        method: "GET",
        data: { ward: selectedWard },
        success: function (data) {
          var organizationSelect = $("#organizationSelect");
          organizationSelect.empty(); // Clear existing options

          // Append the retrieved ward options
          data.forEach(function (orgarnizaion) {
            organizationSelect.append("<option value='" + orgarnizaion.id + "'>" + orgarnizaion.schoolname + "</option>");
          });
        },
        error: function (data) {
          console.log(data.responseText);
        }
      });
    });
  });

  $(document).ready(function () {
    $("#citySelect, #districtSelect, #wardSelect, #organizationSelect").change(function () {
      // Hide all div elements with the class "sclassSelection" and "tclassSelection" when the selects change
      $(".sclassSelection, .tclassSelection").empty() ;
    });
  });
  $(document).ready(function () {
    // Hide the organization elements initially
    $("#organizationSelectContainer").hide();

    // Add an event listener to the "Add more Organization" checkbox
    $("#addMoreOrganization").change(function () {
      if (this.checked) {
        // If the checkbox is checked, show the organization elements
        $("#organizationSelectContainer").show();
      } else {
        // If the checkbox is unchecked, hide the organization elements
        $("#organizationSelectContainer").hide();
      }
    });
  });
</script>
</body>
</html>