<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .student-picture {
            width: 100px; /* Adjust the width as needed */
            height: 100px; /* Adjust the height as needed */
        }
    </style>
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/teacher/homepage">Teacher Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/teacher/homepage">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/teacher/classmanagement">Class Management</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/teacher/grademanagement">Grade Management</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown"> <!-- Added dropdown class here -->
                <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Teacher Account
                </a>
                <div class="dropdown-menu" aria-labelledby="accountDropdown">
                    <a class="dropdown-item" href="/teacher/accountsetting">Setting</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <h1> Class Name: <span th:text="${aclass.getClassname()}"></span></h1>
</div>
<div class="container mt-0">
    <div class="mx-auto">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Number</th>
                <th>Roll Number</th>
                <th>Student Full Name</th>
                <th>Email</th>
                <th>Parrent Name</th>
                <th>Picture</th>
                <th>Ethnic</th>
                <th>Gender</th>
                <th>Religion</th>
                <th>Address</th>
                <th>Hometown</th>
                <th>Hobbies</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student,number : ${students}">
                <td th:text="${number.index + 1}"></td>
                <td th:text="${student.getRollNumber()}"></td>
                <td th:text="${student.getFullname()}"></td>
                <td th:text="${student.getEmail()}"></td>
                <td th:text="${student.getParrentName()}"></td>
                <td><img th:src="${student.getPicture()}" alt="Student Picture" class="student-picture"></td>
                <td th:text="${student.getEthnic().getEthnic()}"></td>
                <td th:text="${student.getGender().getGender()}"></td>
                <td th:text="${student.getReligions().getReligion()}"></td>
                <td th:text="${student.getAddress()}"></td>
                <td th:text="${student.getHometown()}"></td>
                <td th:text="${student.getHobbies()}"></td>
                <td><a th:href="@{'/teacher/updatestudentinfo/' + ${student.getRollNumber()}}" class="btn btn-primary">Update
                    Information</a>
                    <a th:href="@{'/teacher/changestudentclass/' + ${student.getRollNumber()}}" class="btn btn-primary">Change
                        Class</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>