<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OTP Validation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
        }

        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }

        .form-otp {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .otp-input {
            width: 40px;
            height: 55px;
            margin: 0 5px;
            text-align: center;
            background-color: #87CEEB;
        }

        #countdown {
            font-size: 18px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="starter-template">
        <h2>OTP - Validate your OTP</h2>
        <h3>Please check your Email: <span style="color:blue">[[${email}]]</span> for the One-Time Password (OTP).</h3>
        <h3>If you haven't received an email, please wait a moment and check your spam folder as well.</h3>

        <form id="validateOtp" name="validateOtp" class="form-otp" method="post">
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    Invalid Otp. Try Again.
                </div>
            </div>

            <div class="row">
                <input type="text" name="digit1" id="digit1" class="otp-input" maxlength="1" required/>
                <input type="text" name="digit2" id="digit2" class="otp-input" maxlength="1" required/>
                <input type="text" name="digit3" id="digit3" class="otp-input" maxlength="1" required/>
                <input type="text" name="digit4" id="digit4" class="otp-input" maxlength="1" required/>
                <input type="text" name="digit5" id="digit5" class="otp-input" maxlength="1" required/>
                <input type="text" name="digit6" id="digit6" class="otp-input" maxlength="1" required/>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p id="countdown"></p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p>Don't get the OTP code? <span id="resend"><a href="#" id="resendLink">Resend</a></span></p>
                    <p>For security, please do not share your OTP with others!</p>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        var countdown = 180; // Set the initial countdown value in seconds
        var intervalId;

        function updateCountdown() {
            var minutes = Math.floor(countdown / 60);
            var seconds = countdown % 60;

            var formattedTime = "0" + minutes + ":" + (seconds < 10 ? "0" : "") + seconds;
            $("#countdown").text("Time remaining: " + formattedTime);

            if (countdown <= 0) {
                clearInterval(intervalId);
                $("#countdown").text("Time expired");
                //send the request to server that invalid the OTP in current
            }
        }

        function resetCountdown() {
            clearInterval(intervalId);
            countdown = 180; // Reset the countdown to 180 seconds
            intervalId = setInterval(function () {
                countdown--;
                updateCountdown();
            }, 1000);
        }

        // Start the countdown when the page finishes loading
        resetCountdown();

        $("#validateOtp").submit(function (event) {
            event.preventDefault();
            var otp =
                $("#digit1").val() +
                $("#digit2").val() +
                $("#digit3").val() +
                $("#digit4").val() +
                $("#digit5").val() +
                $("#digit6").val();
            // The rest of your AJAX logic
            $.ajax({
                type: "GET",
                url: "/otpvalidate/validate",
                data: {otp: otp},
                dataType: 'text',
                cache: false,
                success: function (response) {
                    if (response === "VALID"){
                        window.location.href="/user/welcome"
                    } else if(response === "INVALID") {
                        alert("Invalid OTP. Please try again!");
                    } else {
                        alert(response);
                        window.location.href="/auth/login";
                    }
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        });

        $("#resendLink").click(function (event) {
            event.preventDefault();
            // Add logic to send a request to the server to resend OTP to the user's email
            resetCountdown(); // Reset
            $.ajax({
                type: "GET",
                url: "/otpvalidate/resend",
                dataType: 'text',
                cache: false,
                success: function (response) {
                    alert(response)
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        });
        $(".otp-input").keyup(function (event) {
            var maxLength = parseInt($(this).attr("maxlength"), 10);
            var currentLength = $(this).val().length;

            if (currentLength === maxLength) {
                var nextIndex = $(this).index(".otp-input") + 1;
                $(".otp-input").eq(nextIndex).focus();
            } else if (currentLength === 0 && event.keyCode === 8) { // Backspace key
                var prevIndex = $(this).index(".otp-input") - 1;
                if (prevIndex >= 0) {
                    $(".otp-input").eq(prevIndex).focus();
                }
            }
        });
    });
</script>
</body>
</html>
