<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Your login form here -->
<form method="post" th:action="@{/auth/resetpassword}" class="container">
    <h2>Reset Password</h2>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username" required id="username" th:value="${user.getUsername()}" readonly>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" class="form-control" required id="email" readonly th:value="${user.getEmail()}">
    </div>
    <div class="form-group">
        <label for="email">New Password</label>
        <input type="password" name="password" class="form-control" required id="password">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<div th:if="${error}" class="alert alert-danger container">
    <p th:text="${error}" style="color:red"></p>
</div>
</body>
</html>